<div class="container" ng-controller="registerSuccessCon">
            <div class="row">
                <div class="regSuccessBox">
                    <div class="reg-success-box text-center">
                        <div class="reg-success-tips">
                            <i class="glyphicon glyphicon-ok  ok-lg"></i><span>欢迎注册确权平台</span>
                        </div>
                        <p>
                            <span>您已注册成功，<i>3</i>秒后跳转首页，</span><a href="#login" class="text-info">立即跳转</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>