<div class="container_cao" ng-controller="thirdCon">
   <div class="navbar navbar-inverse navbar-fixed-top xs-type">
        <div class="container">
                <div class="row">
                    <a class="pull-left">
                        <img src="images/hand_logo.png" alt="">
                    </a>
                    <div class="logoBar-right pull-right">
                        <p>
                            <i class="glyphicon glyphicon-user user-icon"></i><a class="" href="#company">{{DataBankName}}</a>
                            <a href="" ng-click="loginOut()">退出</a>
                        </p>
                    </div>
                </div>
            </div>
    </div>
  <h2>数据银行
      <button class="btn btn-default append"><a href="#first-steps" >+添加数据</a></button>
  </h2>
  
  <div class="_left">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="commodity text-center"><a href="#data-manage">数据商品管理</a></li>
              <li role="presentation" class=" text-center info"><a href="#company">企业信息管理</a></li>
    </ul>
  </div>
  <div class="bbbbbb right_F">
              <h2>请按以下步骤完成数据添加</h2>
              <!--第三步开始-->
              <div class="div3" id="div3">
                  <div class="schedule3">
                        <a href="#first-steps" class="display-block"><div class="first3">第一步</div></a>
                        <div class="strip3 s3"></div>
                        <a href="#second-steps" class="display-block"><div class="second3">第二步</div></a>
                        <div class="strip3 s3"></div>
                        <div class="third3">第三步</div>
                        <div class="strip3 s3"></div>
                        <div class="fourth3">第四步</div>
                        <ul>
                          <li class="l13">基本信息</li>
                          <li class="l23">元数据定义</li>
                          <li class="l33">数据描述</li>
                          <li class="l43">价格设置</li>
                        </ul>          
                    </div>
                  <div class="text1">
                      <textarea id="editor" ng-model="Description"></textarea>
                      <script>
                        var editor = new Simditor({
                          textarea: $('#editor'),
                          placeholder: '这里输入文字...'
                          //optional options
                        });
                      </script>
                  </div> 
                  <div class="text-center">
                         <a><button type="submit" class="btn btn-primary" ng-click="nextStep();">下一步</button></a>
                         <a href="#second-steps"><button type="submit" class="btn btn-default">返回</button></a>
                  </div>
              </div>
              <!--第三步结束-->   
  </div>
</div>