<div class="person_container">
      <div class="navbar navbar-inverse navbar-fixed-top xs-type">
        <div class="container">
                <div class="row">
                    <a class="pull-left" href="#main">
                        <img src="images/hand_logo.png" alt="">
                    </a>
                    <div class="logoBar-right pull-right">
                        <p>
                            <i class="glyphicon glyphicon-user user-icon"></i><a class="" href="#company">{{UserName}}</a>
                            <a href="" ng-click="loginOut()">退出</a>
                        </p>
                    </div>
                </div>
            </div>
    </div>
    	<p class="person_p">个人中心</p>

      <!-- 左边栏 -->
    	<div class="person_left">
    	  <div class="list-group">
          <a href="#user-center" class="list-group-item active"><img src="images/ico01_over.png"><span>数据资产总览</span></a>
          <a href="#data-power" class="list-group-item "><img src="images/ico02_nor.png"><span>数据资产管理</span></a>
          <a href="#data-order" class="list-group-item " ><img src="images/ico03_nor.png"><span>数据订单管理</span></a>
          <a href="#resolve" class="list-group-item "><img src="images/ico04_nor.png"><span>数据混淆管理</span></a>
          <a href="#user-message" class="list-group-item "><img src="images/ico05_nor.png"><span>个人信息设置</span></a>
        </div>
    	</div>

      <!-- 右边栏 -->
    	<div class="person_right">
         <div class="right_c">
           <div class="right_l">
             <h4>我的数据资产</h4>
             <p>已授权托管资产：1000<a href="#data-power">详情</a></p>
             <p>代授权托管资产：500&nbsp;&nbsp;<a href="#data-unpower">前去授权</a></p>
             <h4 class="earn">我的资产收益&nbsp;&nbsp;&nbsp;&nbsp;<span style="font:14px 微软雅黑;border: 1px solid #feb0b0;width: 136px;height: 26px">今日收益：  <span style="color: #e40505">60积分</span></span></h4>
             <p class='count'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可用积分：5000</p>
           </div> 
           <div class="right_r">
              <div class="one">数据资产等级</div>
              <div class="two">10级</div>
              <div class="three">距离升级还差300分</div>
              <div class="special">完成任务升级</div>
           </div> 
         </div>
         <div class="djtq">
             <h4 class="person_h4">等级特权</h4>
                <div><img src="images/bus.png"><br><span>公交优惠</span></div>
                <div><img src="images/phone.png"><br><span>流量赠送</span></div>
                <div><img src="images/hand.png"><br><span>信用借还</span></div>
                <div><img src="images/sale.png"><br><span>特价折扣</span></div>
                <p></p>
          </div>
          <div class="jfsc">
             
             <h4 class="person_h4">积分福利<p style="float: right;font:14px 微软雅黑"><a href="javascript:;">查看全部</a></p></h4>
               <div><p>滴滴85折券<br>*1</p><span>10积分兑换</span></div>
               <div><p>腾讯视频VIP<br>*1</p><span>100积分兑换</span></div>
               <div><p>中国移动流量包<br>*1</p><span>300积分兑换</span></div>
          </div>
      </div>
    </div> 
