@charset "utf-8";
/*author:sunYangYang;dataTime:2017-7-21*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left:10px; padding-right:10px;
    }
body{
    font-family: "Microsoft YaHei", serif;
    background:url("../images/Bg@2x.png") no-repeat;
    /*background-color: #1b1b1b;*/
    /* background-size: 100%; */
    font-size:14px;
}
div{box-sizing: border-box;}
.loading{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:rgba(0,0,0,1);
    z-index: 1000;
    overflow: hidden;
}

.loading p{
    position: absolute;
    left:50%;
    top:65%;
    margin-left: -140px;
    /*border:1px solid red;*/
}

#canvas{
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-150px;
    z-index: 1000;
}
/*!*1280~1360*!*/
/*@media screen and (min-width: 1280px) and (max-width: 1360px){}*/

/*!*1361~1366*!*/
/*@media screen and (min-width: 1280px) and (max-width: 1366px){*/
/*}*/
.boxTop{
    background: url(../images/Title@3x.png) no-repeat center;
    background-size: 100%;
    height: 100px;min-width: 990px;
    text-align: center;
    width: 100%;
    line-height: 100px;
    font-size:36px;font-family:PingFangSC-Semibold;
    color:rgba(255,255,255,1);
}
/* .boxLeft,.boxRight{flex-grow: 1;} */
/* .boxCenter{
    flex:3 1 auto;
    margin:0 20px;
} */
.centerBlock{
    margin: 20px 0;
}
.boxContent{
    display: flex;
    margin:20px 40px;
}
.boxBlock{
    min-height: 208px; padding:24px;
    /* min-width: 240px; */
    background:rgba(13,31,72,0.6);
    box-shadow:0px 10px 20px 0px rgba(0,0,0,0.1);
    border:2px solid rgba(19,112,250,0.12);
    border-top: 8px solid rgba(62,108,216,0.2);
}
.boxBlock h3{
    font-size:18px;
    font-family:PingFangSC-Semibold;
    color:rgba(255,255,255,1);

}
.boxBlock h3>p{
    font-size:12px;margin-top: 8px;
    font-family:Lato-Regular;
    color:rgba(0,223,255,1);
}
.boxCenter .boxBlock{
    min-height: 664px;
    min-width: 375px;
}
.boxRight .itemBox{
    display:flex;overflow: hidden;
    margin:12px auto;
}
/* 精准广告子项 */
.blockItem{
    height: 120px;text-align:center;
    flex:1 1 auto;min-width: 126px;
    padding: 36px 15px 0 15px;
    background:rgba(13,31,72,0.8);
    border:2px solid rgba(19,112,250,0.12)
}
.blockItem:nth-of-type(2){margin:0 12px;}
.blockItem h4{
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:rgba(19,151,255,1);
}
.blockItem p{
    font-size:18px; margin-top: 16px;
    font-family:Lato-Bold,Arial;
    color:rgba(255,255,255,1);
}
.titleBlock{
    border-left:4px solid #1397FF;
    padding-left:20px;height: 80px;
}
.titleBlock:first-child{margin-bottom: 38px;}
.titleBlock h3{
    font-size:20px;margin-bottom: 16px;
    font-family:PingFangSC-Semibold;
    color:rgba(19,151,255,1);
}
.titleInfo{
    font-size:24px;
    font-family:PingFangSC-Semibold;
    color:rgba(19,151,255,1);
}
.titleInfo span{
    font-size:36px;margin-right:8px;
    font-family:Lato-Bold;
    color:rgba(255,255,255,1);
}



        